@model E_Learning.Models.Notification.Notification

@{
    ViewData["Title"] = "Create Notification";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col-sm-12">
                    <div class="page-sub-header">
                        <h3 class="page-title">Create Notification</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Notification</a></li>
                            <li class="breadcrumb-item active">Create Notification</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card comman-shadow">
                    <div class="card-body">
                        <form asp-action="AddNotification" method="post">
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Content" class="control-label"></label>
                                <textarea asp-for="Content" class="form-control"></textarea>
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    @if (TempData["SuccessMessage"] != null)
    {
        <text>
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: '@TempData["SuccessMessage"]'
                });
        </text>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <text>
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: '@TempData["ErrorMessage"]'
                });
        </text>
    }
        });
</script>
